{% extends 'layout.html.twig' %}

{% block content %}
    <div><a href="/bar/index" class="portelink">Saint Expédition</a></div>

    <div>
        <img class="entree"  src="/assets/images/entree.jpg">
    </div>
    <div>
        <a href="#" class="ib"><img class="ib" src="/assets/images/perso.png">
          <p>Bonjour cher visiteur, bienvenue à Saint Expedition ! Tu es un peu en avance pour la réception. Mais pas d'inquiétude suis moi en cliquant sur <span style="color: yellow; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">"Saint Expédition"</span>, je vais te faire visiter en attendant la soirée d'inauguration de ce soir.</p>
        </a>
    </div>
{% endblock %}