<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/assets/css/style.css">
    
    
    <title>{% block title %}Saint-Expedition{% endblock %}</title>

    
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
{% block navbar %}
    <div>
        <nav class="navbar">
        <div class="logo">
            <h3 class="saint">SAINT-</h3>
            <h3 class="expedition">EXPEDITION</h3>
        </div>
        <p class="nav-link">
            <a href="/">Accueil</a></li>
        </p>
    </nav>
    </div>
{% endblock %}

{% block content %}{% endblock %}

{% block javascript %}{% endblock %}
  <footer>
    <h2 class="equipeDEV">L'équipe de développement</h2>
    <div class="creators">
      <div class="partenair">
      <a href="https://www.wildcodeschool.com/fr-FR" target="_blank"><img class="wild_logo" src="/assets/images/wildlogo.png"></a>
      </div>
        <div class="creator-block">
        <div class="creator-name"> Massinta Ait Braham</div>
        <div class="creator-logos">
            <a href="https://github.com/MassintaAitBraham" target="_blank"><img class="gitLogoFooter" src="/assets/images/github.png" alt ="GitHub Massinta Ait Braham"></a>
            <a href="https://www.linkedin.com/in/massinta-aitbraham/" target="_blank"><img class="linkedinLogo" src="/assets/images/linkedin.png" alt="Linked In Massinta Ait Braham"></a>
        </div>
        </div>
      <div class="creator-block">
        <div class="creator-name">Denis Cîrlan</div>
        <div class="creator-logos">
           <a href="https://github.com/dcirlan" target="_blank"><img class="gitLogoFooter" src="/assets/images/github.png" alt ="GitHub Denis Cîrlan " ></a>
           <a href="https://www.linkedin.com/in/denis-c%C3%AErlan/" target="_blank"><img class="linkedinLogo" src="/assets/images/linkedin.png" alt="LinkedIn Denis Cîrlan" ></a>
       </div>
     </div>
     <div class="creator-block">
      <div class="creator-name">Bruno Lagasse</div>
      <div class="creator-logos">
            <a href="https://github.com/BrunoLagasse" target="_blank"><img class="gitLogoFooter" src="/assets/images/github.png" alt ="GitHub Bruno Lagasse"></a>
            <a href="https://www.linkedin.com/in/bruno-lagasse-8a699716a/" target="_blank"><img class="linkedinLogo" src="/assets/images/linkedin.png" alt="LinkedIn Bruno Lagasse"></a>
      </div>
    </div>
    <div class="creator-block">
      <div class="creator-name">Adrien Thouvenin</div>
      <div class="creator-logos">
             <a href="https://github.com/AdThouv" target="_blank"><img class="gitLogoFooter" src="/assets/images/github.png" alt="GitHub Adrien Thouvenin"></a>
             <a href="https://www.linkedin.com/in/adrien-thouvenin/" target="_blank"><img class="linkedinLogo" src="/assets/images/linkedin.png" alt="LinkedIn Adrien Thouvenin"></a>
      </div>
      </div>
       <div class="partenair">
        <a href="http://www.saintex-reims.com/" target="_blank"><img class="saint-ex-logo" src="/assets/images/logosaint-ex.jpg"></a>
       </div>
    </div>
  </div>
 <div class="footer-copyright">
     <span>© 2020 Promotion Horizon | Wild Code School Reims - Tous droits réservés</span>
 </div>
</footer>
</body>
</html>


