{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <img class="entree"  src="/assets/images/atelierscientifique.jpg">
    </div>
    <div>
        <a href="/VacancesDigital/index">
            <img class="kinnect" src="/assets/images/kinnect.png">
            </a>
    </div>

    <div>
        <a href="#description" class="ibscience"><img class="ibscience" src="/assets/images/perso.png">
            <p>Et voilà c'est ici que les jeunes et moins jeunes bricolent, découpent au lazer, et assemblent tout ce qu'ils peuvent assembler. Tiens mais comment la mannette s'est retrouvée ici ?! Prends la mannette je m'occupe des câbles, on va poser ça dans ce qu'on peut appeler la pièce de jeu.</p>
        </a>
        <
    </div>
{% endblock %}