{% extends 'layout.html.twig' %}

{% block content %}
     <div>
        <img class="atelierrobot"  src="/assets/images/atelierrobot.jpg">
    </div>
    <div>
        <a href="/theatre/index">
            <img class="masque" src="/assets/images/masque.png">
            </a>
    </div>

    <div>
        <a href="#" class="ibrobot"><img class="ibrobot" src="/assets/images/perso.png">
            <p>Je parie que tu ne savais pas qu'on disposait d'un atelier robotique ! Il est destiné à un public de tout âge ayant envie de découvrir le monde de l'électronique orienté robot. Oh non l'atelier théâtre a laissé trainer ses masques, aide moi à les porter et je te montre la prochaine salle.</p>
        </a>
    </div>
{% endblock %}