{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <img class="entree"  src="/assets/images/barephemere.JPG">
    </div>
    <div>
        <a href="/AtelierRobot/index">
            <img class="robot" src="/assets/images/robot.png">
            </a>
    </div>

    <div>
        <a href="#description" class="ibbar"><img class="ibbar" src="/assets/images/perso.png">
            <p>Euh oui... les préparatifs ne sont pas vraiment terminés, ce fichu robot ne veut pas rester dans sont atelier aide moi à le porter en cliquant dessus.</p>
        </a>
        <
    </div>
{% endblock %}