{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <img class="entree"  src="/assets/images/fin.jpg">
    </div>
    <div>
        <a href="#" class="ibfin"><img class="ibfin" src="/assets/images/perso.png">
            <p>Les invités commencent à arriver, ceci conclut donc notre petite visite. J'espère que je t'ai donné envie de revenir avec tes amis, tes enfants ou ta famille, merci pour ton aide et à très bientôt !</p>
        </a>
        <
    </div>
{% endblock %}