{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <img class="entree"  src="/assets/images/decouverte.jpg">
    </div>
    <div>
        <a href="/BarFin/index">
            <img class="cocktail" src="/assets/images/verre.png">
            </a>
    </div>

    <div>
        <a href="#" class="ibexpo"><img class="ibexpo" src="/assets/images/perso.png">
            <p>Voici la salle d'exposition, c'est ici qu'on met en avant les expositions des artistes qui se sentent en lien avec le sujet du numérique. Mais où j'avais la tête j'ai laissé traîner un verre pour le cocktail de ce soir, prends le et suis moi.</p>
        </a>
    </div>
{% endblock %}