{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <img class="entree"  src="/assets/images/Fablab.jpg">
    </div>
    <div>
        <a href="/AtelierScientifique/index">
            <img class="microscope" src="/assets/images/Microscope.png">
            </a>
    </div>

    <div>
        <a href="#" class="ibfab"><img class="ibfab" src="/assets/images/perso.png">
            <p>Je te présente l'atelier FabLab, ici on peut imprimer des objets en 3D et faire des découpes au lazer, aucune limite si ce n'est ton imagination ! Mais... que fait le microscope ici ?! Tu es plus près  je te laisse le prendre et je t'emmène à sa salle respective.</p>
        </a>
    </div>
{% endblock %}