{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <img class="entree"  src="/assets/images/ateliertheatre.jpg">
    </div>
    <div>
        <a href="/Fablab/index">
            <img class="cartouche" src="/assets/images/cartouche.png">
            </a>
    </div>

    <div>
        <a href="#" class="ibtheatre"><img class="ibtheatre" src="/assets/images/perso.png">
            <p>Ici nous sommes au théâtre des enfants ! Tu trouveras de superbes animations en tout genre autour du numérique et des nouvelles technologies!</br>
                Mais qu'est-ce que cette <span style="font-weight: bold;">cartouche d'imprimante 3D</span> fait ici...?! Il va falloir la ramener au FabLab !</p>
        </a>
    </div>
{% endblock %}