{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <img class="entree"  src="/assets/images/vacancesdigital.jpg">
    </div>
    <div>
        <a href="/Expo/index">
            <img class="toile" src="/assets/images/art.png">
            </a>
    </div>

    <div>
        <a href="#description" class="ibvacances"><img class="ibvacances" src="/assets/images/perso.png">
            <p>Voilà c'est ici que les enfants se transforment en electrons libres et se déchargent de leur énergies négatives. Tiens... Je reconnais ce tableau, c'est Léonard notre artiste résident qui l'a peint ... Allons la mettre dans la salle d'exposition pour l'inauguration !</p>
        </a>
        
    </div>
{% endblock %}